html {
  /*scroll-behavior: smooth;*/
  overflow-x: hidden;
}
body {
  background: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  color: #86868B;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Navigation */
.navbar {
  background: rgba(0, 0, 0, .9) !important;
}
@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
  .navbar {
    padding: .2rem;
    background: rgba(0, 0, 0, .8) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
.navbar-toggler {
  border: none;
  height: 2.7rem;
  background: transparent !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  margin: 0;
  height: .1rem;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-collapse {
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav li.offset {
  padding-right: 3rem;
}
.navbar-dark .navbar-nav .nav-link {
  width: 100%;
  font-size: .9rem;
  color: #F5F5F7;
  opacity: .8;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #F5F5F7;
  opacity: 1;
}
.navbar-brand img {
  height: 1.2rem;
}

/* Common Section Styles */
.offset:before {
  display: block;
  content: "";
  margin-top: -2rem;
  height: 2rem;
}
.jumbotron {
  margin-bottom: 1rem;
  border-radius: 0;
  background-color: #FBFBFD;
}
.not-jumbotron {
  padding: 3rem 0;
}
.jumbotron.no-margin-bottom {
  margin-bottom: 0;
}
h2.heading {
  margin-bottom: 2rem;
  font-weight: 300;
  color: #1D1D1F;
}
h2.heading span {
  font-weight: 700;
}
.heading-underline {
  margin: 0 auto 1rem;
  width: 3rem;
  height: .2rem;
  background-color: #2997ff; /* color-accent */
}
/*h2.heading2 {
  margin-bottom: 1rem;
  font-weight: 700;
  color: #1D1D1F;
}
h4.subheading {
  margin-bottom: 2rem;
}
.heading-underline-2 {
  margin: 0 auto 1rem;
  width: 3rem;
  height: .2rem;
  background-color: #2997ff;
}*/
.home-inner {
  background-image: url(images/landing_page.jpg);
}
.home-inner-fixed {
  background-image: url(images/quote_bg.jpg);
}
.highlight { 
  font-weight: 400;
  color: #2997ff;
}

/* Landing Page */
.home {
  position: relative;
}
.home .screen-dark {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}
.caption-top-offset {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 95%;
}
.caption-boundary {
  position: relative;
  width: 100%;
  height: 100%;
}
.caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.caption .title {
  margin-bottom: 3rem;
}
.caption .title h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
}
.caption .subtitle {
  margin-bottom: 4.8rem;
}
.caption .subtitle h5 {
  font-size: 1.3rem;
  color: white;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
}
.btn-lg:hover {
  text-shadow: none;
}

/* About */
.about .image img {
  border-radius: 50%;
  width: 100%;
}
.about .description {
  padding-left: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Projects */
.projects {
  padding: 1rem 0.4rem;
}
.project {
  padding: 1rem 0.4rem;
}
.project img {
  margin-bottom: 1rem;
  width: 100%;
}
.project h4 {
  font-weight: 700;
  color: #1D1D1F;
}
.project h4 i {
  margin-right: .5rem;
  color: #2997ff;
}
.project .meta-data {
  margin-bottom: .5rem;
}
.project h6 i {
  margin-right: .5rem;
}
.project .dot {
  margin: 0 .5rem;
}

/* Technologies */
.technology {
  margin-bottom: 1rem;
}
.technology i {
  margin-bottom: 1rem;
  color: #1D1D1F;
}
.technology h5 {
  margin-bottom: 1rem;
}
.technology h5.technology-title {
  font-weight: 700;
  color: #1D1D1F;
}

/* Resume */
.resume {
  padding: 3rem;
  background: white;
}
.resume-category {
  margin-top: 3rem;
}
.resume-category h4 {
  font-weight: 400;
  color: #1D1D1F;
}
.resume-item {
  box-shadow: 0 0 .1rem rgba(0, 0, 0, .3);
  padding: 3rem;
}
.resume-item.offset {
  margin-bottom: 1rem;
}
.resume-item .date {
  margin-bottom: 1rem;
  font-weight: 300;
}
.resume-item .date i {
  margin-right: .5rem;
}
.resume-item h4 {
  margin-bottom: 1rem;
  font-weight: 400;
  color: #1D1D1F;
}
.resume-item h5 {
  font-weight: 300;
}

/* Quote */
.quote {
  position: relative;
}
.quote .screen-dark {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.quote-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.quote-text h1 {
  margin: 0 10%;
  font-size: 3.8rem;
  color: white;
  text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
}
.quote-text h1 .bold {
  font-weight: 700;
}

/* Talks */
.talk {
  margin-bottom: 1rem;
  padding: 0;
}
.talk .image {
  padding: 0;
  height: auto;
}
.talk .image.framed {
  background: black;
}
.talk img {
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.talk .framed img {
  object-fit: contain;
}
.talk .details {
  padding: 2rem;
  height: auto;
  background: #FBFBFD;
}
.talk h4 {
  margin-bottom: 1rem;
  font-weight: 700;
  color: #1D1D1F;
}
.talk .date {
  margin-bottom: 1rem;
}
.talk .date i {
  margin-right: .5rem;
}
.talk .description {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Competitions */
.competition {
  margin-bottom: 1rem;
  padding: 0 0.4rem;
}
.competition .image {
  height: 20rem; /* changing x2 */
}
.competition .image.framed {
  background: black;
}
.competition img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.competition .framed img {
  object-fit: contain;
}
.competition .details {
  padding: 2rem; /* changing x2 */
  background: #FBFBFD;
}
.competition h4 {
  margin-bottom: 1rem; /* changing x2 */
  font-weight: 700;
  color: #1D1D1F;
}
.competition h4 span {
  color: #2997ff;
}
.competition .date {
  margin-bottom: 1rem; /* changing x2 */
}
.competition .date i {
  margin-right: .5rem;
}
.competition .description {
  margin-bottom: 0;
  font-size: 1.2rem; /* changing x2 */
  font-weight: 300;
}

/* Awards */
.award {
  margin-bottom: 1rem;
  padding: 0 0.4rem;
}
.award .image {
  height: 13.3rem; /* changing x3 */
}
.award .image.framed {
  background: black;
}
.award img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.award .framed img {
  object-fit: contain;
}
.award .details {
  padding: 1.3rem; /* changing x3 */
  background: #FBFBFD;
}
.award h5 {
  font-weight: 700;
  color: #1D1D1F;
}
.award h5 span {
  color: #2997ff;
}
.award .date {
  margin-bottom: .7rem; /* changing x3 */
}
.award .date i {
  margin-right: .5rem;
}
.award .description {
  margin-bottom: 0;
  font-weight: 300;
}

/* Participations */
.participation {
  margin-bottom: 1rem;
  padding: 0 0.4rem;
}
.participation .image {
  height: 10rem; /* changing x3 */
}
.participation .image.framed {
  background: black;
}
.participation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.participation .framed img {
  object-fit: contain;
}
.participation .details {
  padding: 1rem; /* changing x3 */
  background: #FBFBFD;
}
.participation h6 {
  font-weight: 700;
  color: #1D1D1F;
}
.participation .date {
  margin-bottom: .5rem; /* changing x3 */
}
.participation .date i {
  margin-right: .5rem;
}
.participation .description {
  margin-bottom: 0;
  font-weight: 300;
}

/* Footer */
.footer .jumbotron {
  background: #F5F5F7;
}
.footer h5 {
  margin-bottom: 1rem;
  font-weight: 300;
}
.footer h5.contact-platform-title {
  font-weight: 400;
  color: #1D1D1F;
}
.footer div.contact-platform div {
  margin: 0;
  padding: 0;
}
.footer h5 a {
  color: #86868B;
}
.footer h5 a:hover {
  text-decoration: underline;
  color: #1D1D1F;
}



/* Media Queries */
/* xl | green */
@media (max-width: 1199px) {
.navbar-nav li {
  padding-right: 0;
}
.navbar-brand img {
  height: 1.4rem;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.1rem;
}
.navbar-nav li.offset {
  padding-right: 0;
}

.caption .title {
  margin-bottom: 2.6rem;
}
.caption .title h1 {
  font-size: 3.4rem;
}
.caption .subtitle {
  margin-bottom: 4.4rem;
}
.caption .subtitle h5 {
  font-size: 1rem;
}
.btn-lg {
  font-size: 1rem;
}

.about .description {
  font-size: 1rem;
}

.quote-text h1 {
  font-size: 3.4rem;
}

.talk .description {
  font-size: 1rem;
}

.competition .description {
  font-size: 1rem;
}
}



/* lg | yellow */
@media (max-width: 991px) {
.caption .title {
  margin-bottom: 2.2rem;
}
.caption .title h1 {
  font-size: 3rem;
}
.caption .subtitle {
  margin-bottom: 4rem;
}

.quote-text h1 {
  font-size: 3rem;
}

.competition .image {
  height: auto;
}
}



/* md | orange */
@media (max-width: 767px) {
.caption .title {
  margin-bottom: 1.8rem;
}
.caption .title h1 {
  font-size: 2.6rem;
}
.caption .subtitle {
  margin-bottom: 3.6rem;
}

.about .image img {
  width: 50%;
}
.about .description {
  padding-left: inherit;
}

.project .meta-data {
  margin-bottom: 0;
}

.resume {
  padding: 2rem;
}
.experience {
  margin-bottom: 2em;
}
.resume-category {
  margin-top: 0;
}
.resume-item {
  padding: 2rem;
}

.quote-text h1 {
  font-size: 2.6rem;
}

.award .image {
  height: auto;
}
}



/* sm | red */
@media (max-width: 575px) {
.caption .title {
  margin-bottom: 1.4rem;
}
.caption .title h1 {
  font-size: 2.2rem;
}
.caption .subtitle {
  margin-bottom: 3.2rem;
}

.about .image img {
  width: 75%;
}

.projects {
  padding: 1rem 0;
}
.project {
  padding: 1rem 0;
}
.project .details {
  padding: 0 .8rem;
}

#resume .jumbotron {
  padding-left: 0;
  padding-right: 0;
}
.resume {
  margin: 0;
  padding: 1rem;
}
.resume-item {
  padding: 1rem;
}

.quote-text h1 {
  font-size: 2.2rem;
}

.talk .details {
  padding: 1rem;
}

.competition .details {
  padding: 1rem;
}

.award .details {
  padding: 1rem;
}

.participation .image {
  height: auto;
}
}



/*@media (max-width: 1199px) {
body {
  background: green;
}
}

@media (max-width: 991px) {
body {
  background: yellow;
}
}

@media (max-width: 767px) {
body {
  background: orange;
}
}

@media (max-width: 575px) {
body {
  background: red;
}
}*/
/* Border */



/*============ BOOTSTRAP BREAK POINTS:



Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


